* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-transform: capitalize;
}

:root {
    --pageColor:#f2f2f2;
    --mainColor: #ffffff;
    --secColor: #f7ba1b;
    --textColor: #1b1b1b;
}

.parent {
    height: 100vh;
    background-color: var(--pageColor);
    display: flex;
    justify-content: center;
    align-items: center;
}


.child { 
    background-color: var(--mainColor);
    width: 400px;
    height: 700px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(8, 45px);
    grid-template-rows: repeat(20, 33px);
    position: relative;
    border-top: 5px solid var(--secColor);
    box-shadow: 0 0 20px -4px #1b1b1b;
}

/* title page start */

.child:after {
    content: "registration page";
    background-color: rgba(247, 186, 22, .7);
    border-radius: 10px;
    color: var(--textColor);
    grid-area: 1 / 1 / 3 / 9;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

/* title page end */

/* inputs start */


.fname input,
.lname {
    width: 170px;
}
.pass input,
.conf-pass {
    width: 170px;
}
.user-name input,
.email input,
.b-date input{
    width: 360px;
}
.parent .child input{
    padding: 10px;
    border-color: transparent transparent transparent transparent;
    border-bottom: 1px solid var(--secColor) ;
}






/* gender */
.gender {
    grid-area: 16 / 2 / 17 / 9 ;
    position: relative;
}

.gender .male {
    margin-right: 50px;
}
.male::after {
    content: "male";
    color: #1b1b1b;
    position: absolute;
    bottom: 16px;
    left: 20px; 
}

.female::after {
    content: "female";
    color: #1b1b1b;
    position: absolute;
    bottom: 16px;
    left: 85px;
}

/* countries */

.countries {
    grid-area: 14 / 1 / 15 / 9;
    width: 360px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.countries input {
    width: 360px;
}

/* inputs  */

.fname {
    grid-area: 4 / 1 / 6 / 5 ;
    display: grid;
    align-items: center;
}
.lname {
    grid-area: 4 / 5 / 6 / 9;
    display: grid;
    align-items: center;
}
.user-name {
    grid-area: 6 / 1 / 8 / 9;
    display: grid;
    justify-content: center;
    align-items: center;
}
.pass {
    grid-area: 8 / 1 / 10 / 5;
    display: grid;
    align-items: center;
}
.conf-pass {
    grid-area: 8 / 5 / 10 / 9 ;
    display: grid;
    align-items: center;
}
.email {
    grid-area: 10 / 1 / 12 / 9;
    display: grid;
    justify-content: center;
    align-items: center;
}
.b-date {
    grid-area: 12 / 1 / 14 / 9 ;
    display: grid;
    justify-content: center;
    align-items: center;
}
.reg {
    grid-area: 18 / 2 / 20 / 8 ;
    margin: auto;
    background-color: rgba(247, 186, 22, .9);
    color: var(--textColor);
    width: 160px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

/* sign in link */

.link1 {
    grid-area: 20 / 6 / 21 / 9;
    display: grid;
    justify-content: center;
    align-items: center;
    
}

.link1 a {
    text-decoration: none;
    color: var(--textColor);
    font-size: 18px; 
}

.link1::before {
    content: "already have an account?";
    font-size: 18px;
    position: absolute;
    bottom: 20px;
    left: 70px;
}



/* hover */

.reg:hover {
    background-color: rgba(247, 186, 22, .8);
}

.link1:hover a {
    color: var(--secColor);
}

.input:focus {
    border: none;
}


/* aleart */


.aleart {
    grid-area: 17 / 2 / 18 / 8 ;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}










